body {
  color: white;
  padding: 0;
  margin: 0;
}
.menu,
.logo_wrapper,
.btn_wrapper{
  padding: 14px 0;
}
.header {
  padding: 8px 36px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(17, 17, 17);
}
.text-logo {
  font-weight: 100;
  margin: 0;
}
.menu {
  font-weight: 600;
  font-size: 1.3em;
  font-family: monospace, sans-serif, Arial;
  text-transform: uppercase;
}
.menu div {
  display: inline-block;
  padding: 0 5px;
}
.button-border {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 3px;
  padding: 8px 24px;
}